@use '../base/variables' as v;
@use '../base/mixins' as m;

.home {

    .home__title {
        background: v.$b3;
        padding: 75px 20px;

        @include m.desktop {
            padding: 100px 15% 80px 15%; 
        }

        h3 {
            font-family: v.$archivo;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 2.8px;
            color: v.$w;
            text-transform: uppercase;
            max-width: 60%;
            margin-bottom: 40px;
            margin-top: 75px;
        }

        h1 {
            font-family: v.$old;
            color: v.$w;
            font-weight: 400;
            font-size: 56px;
            line-height: 60px;
            letter-spacing: -1.2px;
            margin-bottom: 40px;

            @include m.desktop {
                font-size: 120px;
                line-height: 130px;
                letter-spacing: -3.6px;
                width: 80%;
            }
        }

        button {
            font-family: v.$archivo;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 2.8px;
            line-height: 15px;
            text-transform: uppercase;
            color: v.$w;
            padding: 22px 48px;
            display: block;
            margin-bottom: 24px;
            background: v.$brown;

            border: 2px solid rgba(255, 255, 255, 0.33);

            @include m.desktop {
                display: inline-block; 
            }
        }

        button:last-child {
            margin-bottom: 0px;
            background: v.$b3;

            @include m.desktop {
                margin-left: 30px;
            }
        }

    }

    .home__date {
        background: v.$b2;
        padding: 36px 20px;

        @include m.desktop {
            display: flex;
            padding: 40px 15%;
            justify-content: space-around;
            align-items: center;
        }

        .date {
            @include m.desktop {
                width: 20%;
            }
        }

        label {
            display: block;
            font-family: v.$roboto;
            font-weight: 700;
            font-size: 16px;
            color: v.$w;
            line-height: 19px;
            margin-bottom: 24px;
        }

        input {
            display: block;
            margin-bottom: 30px;
            width: 100%;
            border: none;
            border-bottom: 2px solid v.$brown;
            background: v.$b2;
            color: #686868;

            @include m.desktop {
                margin-bottom: 0;
            }
        }

        .data-desktop {
            display: none;

            @include m.desktop {
                display: inline-block;
            }
        }

        .data-mobile {
            @include m.desktop {
                display: none;
            }
        }

        a {
            display: inline-block;
            font-family: v.$archivo;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 2.8px;
            line-height: 15px;
            text-transform: uppercase;
            color: v.$w;
            padding: 22px 27px;
            margin-bottom: 24px;
            background: v.$brown;
            border: none;

            @include m.desktop {
                margin-bottom: 0;
            }
        }
    }

    .home__about {
        margin-top: 60px;

        @include m.desktop {
            display: grid;
            padding: 0 0 0 15%;
            margin-top: 100px;
            margin-bottom: 150px;
            grid-template-columns: 20% 20% 60%;
            grid-template-rows: 50% 50% 10%;
        }
        
        .about__header {
            background: #F9F9F9;
            padding: 38px 20px;

            @include m.desktop {
                padding: 0;
                padding-left: 60px;
                padding-right: 15%;
                grid-column: 3 / 4;
                grid-row: 1 / 4;

                background: rgb(249,249,249);
                background: -moz-linear-gradient(0deg, rgba(249,249,249,1) 90%, rgba(255,255,255,1) 90%);
                background: -webkit-linear-gradient(0deg, rgba(249,249,249,1) 90%, rgba(255,255,255,1) 90%);
                background: linear-gradient(0deg, rgba(249,249,249,1) 90%, rgba(255,255,255,1) 90%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9",endColorstr="#ffffff",GradientType=1);
            }

            span {
                font-family: v.$archivo;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 2.8px;
                text-transform: uppercase;
                color: v.$g7;
            }

            h2 {
                font-family: v.$old;
                font-weight: 400;
                font-size: 56px;
                line-height: 60px;
                letter-spacing: -1.2px;
                color: v.$b1;
                text-transform: capitalize;
                margin-top: 32px;
                margin-bottom: 16px;

                @include m.desktop {
                    font-size: 80px;
                    line-height: 90px;
                    letter-spacing: -2.4px;
                }
            }

            p {
                font-family: v.$archivo;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: v.$g7;
                margin-bottom: 24px;

                @include m.desktop {
                    padding-right: 35%;
                }
            }

            button {
                font-family: v.$archivo;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 2.8px;
                line-height: 15px;
                text-transform: uppercase;
                color: v.$w;
                padding: 22px 56px;
                margin-bottom: 175px;
                background: v.$brown;
                border: none;

                @include m.desktop {
                    margin-bottom: 0;
                }
            }
        }

        .img-team {
            padding: 0 52px;
            margin-top: -115px;

            @include m.desktop {
                padding: 0;
                margin: 0;
                margin-left: 15px;
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .about__team {
            padding: 0 52px;
            text-align: center;
            padding-top: 134px;
            background: v.$w;

            @include m.desktop {
                padding: 0px;
                margin: 0;
                margin-bottom: 30px;
                margin-right: 15px;
                background: #FFFFFF;
                box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.05);
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                position: relative;
            }

            .item {
                position: absolute;
                right: 0;
                left: 0;
                margin: auto;
                z-index: 55;

                @include m.desktop {
                    top: 15%;
                    right: 42%;
                    left: 20%;
                }
            }

            .sombra {
                margin-bottom: -25px;
                margin-left: 126px;

                @include m.desktop {
                    position: absolute;
                    right: 0;
                    top: 15%;
                    z-index: 50;
                    margin: 0;
                }
            }

            h4 {
                font-family: v.$old;
                font-weight: 400;
                font-size: 30px;
                line-height: 30px;
                letter-spacing: -0.9px;
                color: v.$b1;

                @include m.desktop {
                    margin-top: 120px;
                    position: relative;
                    z-index: 57;
                }
            }

            p {
                font-family: v.$roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: v.$b1;
                padding: 0 35px 38px 35px;
                margin-top: 21px;
                
                @include m.desktop {
                    margin: 0;
                    padding: 0 10px;
                    margin-top: 10px;
                }
            }

        }

        .img-luxary {
            margin-top: 45px;
            padding: 0 52px;

            @include m.desktop {
                padding: 0;
                margin: 0;
                margin-right: 15px;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .about__luxary {
            padding: 0 52px;
            margin-top: -5px;
            text-align: center;
            background: v.$w;
            margin-bottom: 60px;

            @include m.desktop {
                padding: 0;
                margin: 0;
                margin-left: 15px;
                margin-top: 30px;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
            
            .luxary {
                background: v.$b2;
                padding-top: 54px;

                @include m.desktop {
                    padding-top: 40px;
                }
                
                svg {
                    margin-bottom: 30px;
                }

                h4 {
                    font-family: v.$old;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 30px;
                    letter-spacing: -0.9px;
                    color: v.$w;
                    margin-bottom: 21px;
                }

                p {
                    font-family: v.$roboto;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: v.$w;
                    padding: 0px 36px 39px 36px;
                    
                    @include m.desktop {
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }

    .home__rooms {
        text-align: center;
        position: relative;
        margin-bottom: 270px;

        @include m.desktop {
            margin-bottom: 250px;
        }

        span {
            font-family: v.$archivo;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            color: v.$g7;
            margin-bottom: 24px;
        }

        h2 {
            font-family: v.$old;
            font-weight: 400;
            font-size: 56px;
            line-height: 60px;
            letter-spacing: -1.2px;
            color: v.$b2;
            margin-bottom: 50px;
        }

        .swiper__contein {
            position: relative;
        }

        .rooms-icons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 5%;
            padding: 4% 4%;
            background: v.$w;
            box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
            z-index: 85;
            position: absolute;
            bottom: 100%;
            top: -5%;
            left: 15%;
            right: 15%;
            margin-left: auto;
            margin-right: auto;

            @include m.desktop {
                padding: 1% 1%;
                bottom: 100%;
                top: -3%;
                left: 40%;
                right: 40%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .duplex__rooms {
            padding: 0 20px;
            position: absolute;
            top: 95%;
            z-index: 87;
            left: 0;
            right: 0;

            @include m.desktop {
                top: 92%;
                left: 30%;
                right: 30%;
                margin-left: auto;
                margin-right: auto;
            }
            
            .rooms {
                text-align: center;
                padding: 20px 25px;
                background: v.$w;

                @include m.desktop {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    text-align: left;
                    padding: 15px 15px 0 15px;
                }
    
                h3 {
                    font-family: v.$old;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 36px;
                    color: v.$b2;
                    letter-spacing: -1.2px;
                    margin-bottom: 13px;
                }
    
                p {
                    font-family: v.$roboto;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: v.$g7;
                    margin-bottom: 13px;
                }
    
                span {
                    font-family: v.$archivo;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 43px;
                    color: v.$brown;
    
                    .rooms-price {
                        font-size: 13px;
                        color: v.$brown;
                        text-transform: capitalize;
                    }
                }
            }   
        }
    }

    .home__intro {
        background: v.$b2;
        padding: 64px 20px 48px 20px;

        @include m.desktop {
            background: rgb(34,34,34);
            background: -moz-linear-gradient(90deg, rgba(34,34,34,1) 70%, rgba(173,157,130,1) 70%);
            background: -webkit-linear-gradient(90deg, rgba(34,34,34,1) 70%, rgba(173,157,130,1) 70%);
            background: linear-gradient(90deg, rgba(34,34,34,1) 70%, rgba(173,157,130,1) 70%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222",endColorstr="#ad9d82",GradientType=1);
            padding: 100px 15%;
            display: flex;
            gap: 80px;
        }

        span {
            font-family: v.$archivo;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            color: v.$brown;
        }

        h2 {
            margin-top: 32px;
            font-family: v.$old;
            font-weight: 400;
            font-size: 56px;
            line-height: 60px;
            letter-spacing: -1.2px;
            color: v.$w;
            width: 90%;
            margin-bottom: 16px;
        }

        p {
            font-family: v.$archivo;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #C2C2C2;
            margin-bottom: 32px;
        }

        .btn-desktop {
            display: none;

            @include m.desktop {
                display: block;
                font-family: v.$archivo;
                color: v.$w;
                font-weight: 700;
                font-size: 14px;
                line-height: 15px;
                letter-spacing: 2.8px;
                text-transform: uppercase;
                background: v.$brown;
                padding: 15px 45px;
                margin-top: 36px;
                border: none;
            }
        }

        .video {

            video {
                width: 100%;
                min-height: 335px;
            }
        }

        .btn-mobile {
            font-family: v.$archivo;
            color: v.$w;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            background: v.$brown;
            padding: 22px 58px;
            margin-top: 36px;
            border: none;

            @include m.desktop {
                display: none;
            }
        }

    }

    .home__facilities {

        h5 {
            text-align: center;
            margin-top: 60px;
            margin-bottom: 24px;
            font-family: v.$archivo;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            color: v.$g7;
        }

        h2{
            margin-bottom: 32px;
            text-align: center;
            font-family: v.$old;
            font-weight: 400;
            font-size: 56px;
            line-height: 60px;
            letter-spacing: -1.2px;
            color: v.$b2;
        }

        .icon-dona {
            display: flex;
            justify-content: flex-end;
            margin-top: 60px;

            @include m.desktop {
                display: none;
            }
        }

        .facilities-mobile {
            @include m.desktop {
                display: none;
            }
        }

        .facilities-desktop {
            display: none;
            
            @include m.desktop {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
                padding: 0 15% 50px 15%;

                .facilities-items {
                    font-size: 18px;
                    padding-bottom: 40px;
                    position: relative;
            
                    .number {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
            
                    .icon {
                        display: block;
                        margin-top: 60px;
                        margin-bottom: 30px;
                        margin-left: 38px;
                    }
            
                    h4 {
                        font-family: v.$old;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 30px;
                        letter-spacing: -0.9px;
                        color: v.$b2;
                        margin-bottom: 25px;
                        margin-left: 38px;
                    }
            
                    p {
                        font-family: v.$archivo;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        color: v.$g7;
                        width: 70%;
                        margin-left: 38px;
                    }
                }

                .facilities-items:hover {
                    transition: all 500ms ease;
                    transform: scale(1.1);
                    -webkit-box-shadow: 0px 0px 10px 2px rgba(190,173,142,0.5);
                    -moz-box-shadow: 0px 0px 10px 2px rgba(190,173,142,0.5);
                    box-shadow: 0px 0px 10px 2px rgba(190,173,142,0.5);
                }
            }
        }
    }

    .dona-desktop {
        display: none;

        @include m.desktop {
            display: inline-block;
            padding: 0;
        }
    }

    .home__menu {
        padding: 0 20px;

        @include m.desktop {
            padding: 0 15%;
        }

        .menu_title {
            @include m.desktop {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        h4 {
            color: v.$g7;
            text-transform: uppercase;
            font-family: v.$archivo;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            margin-bottom: 24px;
        }

        h2 {
            color: v.$b2;
            font-family: v.$old;
            font-weight: 400;
            font-size: 56px;
            line-height: 60px;
            letter-spacing: -1.2px;
            margin-bottom: 32px;
        }

        .menu__grid {
            @include m.desktop {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .selection {
            @include m.desktop {
                background: v.$b2;
            }

            p, h3 {
                @include m.desktop {
                    color: v.$w !important;
                }
            }


            .menu__img {
                @include m.desktop {
                    width: 61%;
                    margin-bottom: -4px;
                }
            }
        }

        .menu__content {
            display: flex;
            margin-bottom: 16px;
            align-items: center;
            gap: 30px;

            h3 {
                color: v.$b2;
                font-family: v.$old;
                font-weight: 400;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.72px;
                margin-bottom: 12px;
            }

            p {
                color: v.$b2;
                font-family: v.$roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 15px;
                width: 90%;
            }

            .menu__img {

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .buttons {
            text-align: right;
            margin-bottom: 60px;

            button {
                background: v.$brown;
                box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.15);
                color: v.$w;
                padding: 10px 13px;
                font-size: 15px;
                border: none;
            }

            .btn-prev {
                margin-right: 5px;
            }

            .btn-next {
                margin-left: 5px;
            }
        }

        .menu-mobile {
            @include m.desktop {
                display: none;
            }
        }

        .menu-desktop {
            display: none;

            @include m.desktop {
                display: flex;
                gap: 20px;
            }

            svg {
                @include m.desktop {
                    margin-right: 15px;
                }
            }
        }

        .menu__image {
            @include m.desktop {
                margin: 100px 0;
            }

            .image {

                img {
                    @include m.desktop {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .home__follows {
        background: v.$b2;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

        @include m.desktop {
            margin: 0 15%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 100px;
        }

        .follows {
            padding-top: 60px;
            padding-bottom: 60px;

            h2 {
                font-family: v.$roboto;
                font-weight: 700;
                font-size: 60px;
                line-height: 62px;
                color: v.$w;
                margin-top: 16px;

                span {
                    font-size: 16px;
                }
            }

            p {
                font-family: v.$roboto;
                font-weight: 700;
                font-size: 16px;
                line-height: 2px;
                color: v.$g9;
            }
        }
    }
}