@use '../base/variables' as v;
@use '../base/mixins' as m;

.offers {

    .offers__title{
        background: v.$b3;
        padding: 75px 20px 0px 20px;

        @include m.desktop {
            padding: 100px 15% 0px 15%; 
        }

        h3 {
            font-family: v.$archivo;
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 2.8px;
            color: v.$w;
            margin-bottom: 16px;
            margin-top: 75px;
        }

        h1 {
            font-family: v.$old;
            color: v.$w;
            font-weight: 400;
            font-size: 56px;
            line-height: 60px;
            letter-spacing: -1.2px;
            margin-bottom: 47px;
        }

        .offers__box {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            

            h4 {
                background: v.$w;
                padding: 16px 24px;
                font-family: v.$archivo;
                font-weight: 700;
                font-size: 16px;
                line-height: 17px;
                letter-spacing: -0.48px;
                color: v.$b2;

                span {
                    color: v.$brown;
                }

                strong {
                    margin: 0 5px;
                }
            }
        }
    }

    .offers__rooms {
        padding: 50px 20px 60px 20px;

        @include m.desktop {
            padding: 100px 15% 60px 15%; 
        }

        .offers-room {
            margin-bottom: 32px;
            box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);

            @include m.desktop {
                box-shadow: none;
            }

            .offers-img {
                position: relative;
                margin-bottom: 16px;

                @include m.desktop {
                    margin-bottom: 0px;
                    z-index: -1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .offers__rooms-mobile {
                    @include m.desktop {
                        display: none;
                    } 
                }
            }

            .real-price {
                position: absolute;
                bottom: 55px;
                right: 15px;

                font-family: v.$archivo;
                font-weight: 700;
                font-size: 23px;
                line-height: 25px;
                color: v.$brown;

                span {
                    font-size: 11px;
                }

                @include m.desktop {
                    position: static;
                }

            }

            .offers-price {
                position: absolute;
                bottom: 20px;
                right: 15px;

                font-family: v.$archivo;
                font-weight: 700;
                font-size: 30px;
                line-height: 33px;
                color: #DE5777;

                span {
                    font-size: 11px;
                }

                @include m.desktop {
                    position: static;
                }

            }

            h5 {
                padding-left: 20px;
                font-family: v.$archivo;
                font-weight: 700;
                font-size: 14px;
                line-height: 15px;
                letter-spacing: 2.8px;
                text-transform: uppercase;
                color: v.$g7;
                margin-bottom: 12px;
                
            }

            h3 {
                padding-left: 20px;
                width: 90%;
                font-family: v.$old;
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -1.44px;
                color: v.$b2;
                margin-bottom: 16px;

                @include m.desktop {
                    grid-column: 1/2;
                }
            }

            .offers__rooms-desktop {
                display: none;

                @include m.desktop {
                    display: inline-block;
                    text-align: right;
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                }
            }

            .offers-text {
                padding: 0 20px;
                font-family: v.$roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: v.$g7;
                margin-bottom: 25px;

                @include m.desktop {
                    padding: 0 10px 0 20px;
                }
            }

            .offers-list {
                display: flex;
                justify-content: space-between;
                padding: 0px 20px;

                @include m.desktop {
                    justify-content: flex-end;
                    gap: 50px;
                    padding: 0 10px 0 20px;
                }
    
                .items {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 17px;
    
                    p {
                        font-family: v.$roboto;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: v.$g7;
                    }
                }
            }

            button {
                font-family: v.$archivo;
                font-weight: 700;
                font-size: 14px;
                line-height: 15px;
                letter-spacing: 2.8px;
                text-transform: uppercase;
                padding: 22px 56px;
                color: v.$w;
                background: v.$brown;
                border: none;
                margin-left: 20px;
                margin-top: 25px;
                margin-bottom: 32px;

                @include m.desktop {
                    width: 65%;
                }
            }

            .offers__content {
                @include m.desktop {
                    border-top: 6px solid v.$brown;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -50px;
                    background: v.$w;
                    padding: 60px;

                    display: grid;
                    grid-template-columns: 55% 45%;
                }
            }
        }
    }

    .populars {
        background: v.$b2;
        padding: 50px 20px;
        margin-bottom: 60px;

        @include m.desktop {
            padding: 100px 0 50px 0;
        }

        .populars-mobile {
            @include m.desktop {
                display: none;
            }
        }

        .populars-desktop {
            display: none;

            @include m.desktop {
                display: flex;
                gap: 30px;
                padding: 0 15% 0 15%;
            }
        }

        h4 {
            font-family: v.$archivo;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            color: v.$brown;
            text-align: center;
            margin-bottom: 25px;
        }

        h3 {
            font-family: v.$old;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.8px;
            color: v.$w;
            text-align: center;
            margin-bottom: 50px;
        }

        .populars__room {
            background: v.$w;
            position: relative;

            @include m.desktop {
                position: static;
            }

            .populars-img {
                margin-bottom: 55px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            .rooms-icons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 5%;
                padding: 3% 3%;
                background: v.$w;
                box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
                z-index: 85;
                position: absolute;
                top: 51%;
                left: 10.6%;
                right: 10.6%;
                margin-left: auto;
                margin-right: auto;

                @include m.desktop {
                    padding: 6% 6%;
                    bottom: 0;
                    top: 95%;
                    left: 8%;
                    right: 8%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
    
            h5 {
                font-family: v.$old;
                font-weight: 400;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.72px;
                color: v.$b2;
                text-align: center;
                margin-bottom: 16px;
            }
    
            p {
                font-family: v.$roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                color: v.$g7;
            }
    
            .room-price {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-top: 15px;
                padding-bottom: 28px;
    
                p {
                    font-family: v.$archivo;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 17px;
                    color: #BDBDBD;
                }
    
                .price {
                    color: v.$brown;
                }
            }
        }
    }

}