html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media (min-width: 1000px) {
  header {
    position: relative;
    background: #222222;
    min-height: 100px;
  }
}
@media (min-width: 1000px) {
  header nav {
    max-width: 80%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
  }
}
header nav h3 {
  display: none;
}
@media (min-width: 1000px) {
  header nav h3 {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 16px;
    padding: 11px 0px;
  }
}
header nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 17px;
  color: #111111;
  z-index: 50;
}
@media (min-width: 1000px) {
  header nav .nav {
    background: #FFFFFF;
  }
}
header nav .nav .nav__content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 5px;
}
header nav .nav .nav__content .nav__logo {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  padding: 11px 12px;
  background: #FFFFFF;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
@media (min-width: 1000px) {
  header nav .nav .nav__content .nav__logo {
    font-size: 40px;
    padding: 18px 17px;
  }
}
header nav .nav .nav__content .nav__title {
  font-family: "Archivo", sans-serif;
}
header nav .nav .nav__content .nav__title h1 {
  font-weight: 700;
  font-size: 14px;
}
@media (min-width: 1000px) {
  header nav .nav .nav__content .nav__title h1 {
    font-size: 26px;
    line-heigth: 28px;
  }
}
header nav .nav .nav__content .nav__title h1:last-child {
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 1000px) {
  header nav .nav .nav__content .nav__title h1:last-child {
    font-size: 26px;
    line-heigth: 28px;
  }
}
@media (min-width: 1000px) {
  header nav .nav .nav__content .nav__open {
    display: none;
  }
}
header nav .nav .nav__content .nav__close {
  display: none;
}
header nav .nav .nav__content .nav__desktop {
  display: none;
}
@media (min-width: 1000px) {
  header nav .nav .nav__content .nav__desktop {
    display: flex;
  }
  header nav .nav .nav__content .nav__desktop ul {
    display: flex;
    gap: 35px;
    margin-left: 50px;
    margin-right: 10px;
  }
  header nav .nav .nav__content .nav__desktop ul li {
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
  }
  header nav .nav .nav__content .nav__desktop ul li a {
    color: #111111;
  }
}
header nav .nav .nav__icons {
  display: flex;
  gap: 28px;
  margin-right: 25px;
}
@media (min-width: 1000px) {
  header nav .nav .nav__icons {
    margin-right: 5%;
  }
  header nav .nav .nav__icons svg {
    border: 2px solid rgba(133, 133, 133, 0.3);
    min-height: 60px;
    min-width: 60px;
    padding: 19px;
    cursor: pointer;
  }
}
header nav .nav__mobile {
  display: none;
  position: absolute;
  z-index: 9;
  background: #FFFFFF;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}
header nav .nav__mobile ul {
  padding: 32px 0px 2px 21px;
}
header nav .nav__mobile li {
  margin-bottom: 24px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
}
header nav .nav__mobile li a {
  color: #111111;
}

footer {
  background-image: url(../img/footer.svg);
  background-color: #E5E5E5;
}
footer .footer__content {
  padding: 32px 20px;
}
@media (min-width: 1000px) {
  footer .footer__content {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 5% 50px 5%;
    gap: 80px;
  }
}
footer .footer__content .footer__detail .detail-logo {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 47px;
}
footer .footer__content .footer__detail .detail-logo .logo {
  background: #BEAD8E;
  padding: 18px 24px;
}
footer .footer__content .footer__detail .detail-logo .logo span {
  color: #FFFFFF;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
footer .footer__content .footer__detail .detail-logo .title h1 {
  font-size: 26px;
  font-family: "Archivo", sans-serif;
  line-height: 28px;
  letter-spacing: 2px;
  color: #111111;
}
footer .footer__content .footer__detail .detail-logo .title h1:first-child {
  font-weight: 700;
}
footer .footer__content .footer__detail .detail-logo .title h1:last-child {
  font-weight: 400;
}
footer .footer__content .footer__detail p {
  font-family: "Archivo", sans-serif;
  color: #777777;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}
footer .footer__content .footer__detail .detail-icons {
  display: flex;
  gap: 18px;
  margin-bottom: 32px;
}
footer .footer__content .footer__detail .detail-icons .icon {
  min-height: 40px;
  min-width: 40px;
  padding: 8px 8px 5px 8px;
  background: #E5E5E5;
}
@media (min-width: 1000px) {
  footer .footer__content .footer__detail .detail-icons .icon {
    background: #F8F8F8;
  }
}
footer .footer__content .footer__detail .detail-icons .icon svg {
  background: #FFFFFF;
}
footer .footer__content .footer__detail .detail-icons .icon:nth-child(2) {
  background: #BEAD8E;
}
footer .footer__content .footer__detail .detail-icons .icon:nth-child(2) svg {
  background: #BEAD8E;
}
footer .footer__content .footer__services h3 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #222222;
}
@media (min-width: 1000px) {
  footer .footer__content .footer__services h3 {
    margin-bottom: 30px;
  }
}
footer .footer__content .footer__services .services__content {
  display: flex;
  gap: 19px;
  margin-bottom: 32px;
}
@media (min-width: 1000px) {
  footer .footer__content .footer__services .services__content {
    margin-bottom: 0px;
    gap: 70px;
  }
}
footer .footer__content .footer__services .services__content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  color: #777777;
  margin-bottom: 30px;
}
@media (min-width: 1000px) {
  footer .footer__content .footer__services .services__content p {
    margin-bottom: 10px;
  }
}
footer .footer__content .footer__contact h3 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 34px;
  color: #222222;
}
footer .footer__content .footer__contact .contact__content {
  display: flex;
  gap: 20px;
  margin-bottom: 59px;
}
footer .footer__content .footer__contact .contact__content p {
  color: #222222;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
footer .footer__content .footer__contact .contact__content span {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
footer .footer__content .footer__contact .contact__content:last-child {
  margin-bottom: 0px;
}
footer .footer {
  background: #F8F8F8;
  padding: 16px 20px;
}
@media (min-width: 1000px) {
  footer .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
footer .footer span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
footer .footer div:first-child {
  margin-bottom: 24px;
}
@media (min-width: 1000px) {
  footer .footer div:first-child {
    margin: 0px;
  }
}

.home .home__title {
  background: #333333;
  padding: 75px 20px;
}
.home .home__title h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  text-transform: uppercase;
  max-width: 60%;
  margin-bottom: 40px;
}
.home .home__title h1 {
  font-family: "Old Standard TT", serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 40px;
}
.home .home__title button {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 22px 48px;
  display: block;
  margin-bottom: 24px;
  background: #BEAD8E;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.home .home__title button:last-child {
  margin-bottom: 0px;
  background: #333333;
}
.home .home__date {
  background: #222222;
  padding: 36px 20px;
}
.home .home__date label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
  margin-bottom: 24px;
}
.home .home__date input {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  background: #222222;
  color: #686868;
}
.home .home__date button {
  display: block;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 22px 27px;
  margin-bottom: 24px;
  background: #BEAD8E;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.home .home__about {
  margin-top: 60px;
}
.home .home__about .about__header {
  background: #F9F9F9;
  padding: 38px 20px;
}
.home .home__about .about__header span {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
}
.home .home__about .about__header h2 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #111111;
  text-transform: capitalize;
  margin-top: 32px;
  margin-bottom: 16px;
}
.home .home__about .about__header p {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 24px;
}
.home .home__about .about__header button {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 22px 56px;
  margin-bottom: 175px;
  background: #BEAD8E;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.home .home__about .img-team {
  padding: 0 52px;
  margin-top: -115px;
}
.home .home__about .img-team img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.home .home__about .about__team {
  padding: 0 52px;
  text-align: center;
  padding-top: 134px;
  background: #FFFFFF;
}
.home .home__about .about__team .team {
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}
.home .home__about .about__team .team .item {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 50;
}
.home .home__about .about__team .team .sombra {
  margin-bottom: -25px;
  margin-left: 126px;
}
.home .home__about .about__team .team h4 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #111111;
}
.home .home__about .about__team .team p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #111111;
  padding: 0 35px 38px 35px;
  margin-top: 21px;
}
.home .home__about .img-room {
  margin-top: 45px;
  padding: 0 52px;
}
.home .home__about .img-room img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.home .home__about .about__room {
  padding: 0 52px;
  margin-top: -5px;
  text-align: center;
  background: #FFFFFF;
  margin-bottom: 60px;
}
.home .home__about .about__room .room {
  background: #222222;
}

/*# sourceMappingURL=styles.css.map */
